/*#region Default*/
#myMap
{
    float:right; 
    width: calc(100% - 250px); 
    height: calc(100vh - 64px);
    margin:auto; 
    z-index: 2; 
    position: relative;
    top:64px;
}

#myMapList
{
    float: left; 
    text-align:left; 
    width: 250px; 
    /*margin-top: 64px;*/ 
    height:calc(100vh - 64px); 
    overflow-x:hidden; 
    overflow-y:scroll;     
    position: absolute;
    z-index: 3; 
    background-color: #151515;
    font-family: 'robotolight';
    font-size: 0.87em;
    color: rgba(255, 255, 255, 0.44);    
}

#myMapList a
{
    color: rgba(255, 255, 255, 0.44);
}

#myMapList a:hover
{
    color: #5F9EA0;
}

.slimScrollDiv
{
    position: absolute !important;
    z-index: 3; 
    top:64px; 
    float: left;
}

ul 
{ 
    list-style: none; 
}

#myMapList li 
{ 
    text-align: left; 
    padding-right:1em; 
    padding: 10px 10px;
    font-size: 1em;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);    
}

#myMapList li::first-letter
{
    text-transform:uppercase;
}

#myMapList li b
{
    color: #A2CD5A;
}

label 
{ 
    color: #A2CD5A;
    font-size: 0.87em;
    display: block; 
}

.card-infos-user
{
    width: 650px;
    padding: 10px;
    z-index: 999;
    position: absolute;
    right: -650px;
    top:64px;
    background-color: #151515;
    transition: 0.6s ease-in-out;
    opacity:0;
}

.card-infos-user .titulo
{
    text-align: left;
    float: left;
    font-family: 'robotothin';
    color: #A2CD5A;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0px;    
}

.card-infos-user .texto
{
    font-family: 'robotolight';
    font-size: 0.87em;
    color: rgba(255, 255, 255, 0.44);
    float: left;
    margin-top: 2px;
}

.card-infos-user .texto b
{
    color: #A2CD5A;
    font-weight: normal;
}
/*#endregion Default*/

/*#region Sobre*/
.banner-principal 
{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    top: 0;
    background-image: url('../Imagens/Banners/banner-home.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    z-index: 3;
    opacity:1;
    transition: opacity 0.2s ease-in-out
}

.banner-principal .texto-area
{
    margin-top:238px;
    width:100%;
    float:left;
    text-align:center;
}

.banner-principal .texto-area .titulo
{
    font-family: 'robotoregular';
    font-size:1.6em;
    color:#ffffff;
}

.banner-principal .texto-area .texto
{
    font-family: 'robotolight';
    font-size:1.2em;
    color:#ffffff;
    margin-top:20px;
}


.conteudo
{
    z-index: 99;
    position: absolute;
    width: 100%;
    /*margin-top: 100vh;*/    
    /*background-image: url('../Imagens/Layout/wallpaper-wn.jpg');*/
    background-attachment:fixed;    
}
.quem-somos 
{
    width: 100%;
    float: left;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quem-somos ul 
{
    text-align: justify;
}

.quem-somos ul:after 
{
    content: ' ';
    display: inline-block;
    width: 100%;
    height: 0;
}

.quem-somos ul li 
{
    width: 268px;
    display: inline-block;
    height: 300px;
    /*background-color:#282727;*/
    /*background-color: rgba(40, 39, 39, 0.1);*/
    border-radius: 6px;
    overflow: hidden;
}

.quem-somos ul li .titulo-area 
{
    width: 100%;
    float: left;
    height: 45px;
    background-color: rgba(0, 0, 0, 1);
}

.quem-somos .titulo-area p 
{
    font-family: 'Century Gothic';
    font-size: 1.375em;
    color: #ffffff;
    float: left;
    margin-left: 14px;
    line-height: 45px;
}

.quem-somos .titulo-area img 
{
    float: right;
    margin-right: 14px;
    width: 30px;
    margin-top: 7.5px;
}

.quem-somos .texto-area 
{
    background-color: #151515;
    width: 100%;
    height: 345px;
    padding: 14px;
}

.quem-somos .texto-area p 
{
    font-family: 'robotolight';
    font-size: 0.92em;
    /*color:#ffffff;*/
    color: rgba(255, 255, 255, 0.84);
    text-align: left;
    line-height: 20px;
}

ul li:first-child .texto-area p b 
{
    font-weight: normal;
    color: #99bb4e !important;
}

ul li:first-child .texto-area p a 
{
    color: #99bb4e !important;
    text-decoration: none;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

ul li:first-child .texto-area p a:hover 
{
    text-decoration: underline;
}

ul li:nth-child(2) .texto-area p b 
{
    font-weight: normal;
    color: #FF4500 !important;
}

ul li:nth-child(2) .texto-area p a
{
    color: #FF4500 !important;   
}

ul li:nth-child(2) .texto-area p a:hover
{
    text-decoration: underline;
}

ul li:nth-child(3) .texto-area p b 
{
    font-family: 'robotoblack';
    font-size: 1.2em;
    font-weight: normal;
    color: #1E90FF !important;
}

ul li:nth-child(3) .texto-area p a 
{
    color: #1E90FF !important;
    text-decoration: none;
}

ul li:nth-child(3) .texto-area p a:hover
{
    text-decoration: underline;
}

ul li:nth-child(4) .texto-area p a 
{    
    color: #FFA500 !important;
    text-decoration: none;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;    
}

ul li:nth-child(4) .texto-area p a:hover
{
    text-decoration: underline;
}

.portfolio-titulo 
{
    width: 100%;
    height: 120px;
    /*background-color:#171520;*/
    background-color: rgba(23, 21, 32, 0.9);
    float: left;
    position: relative;
}

.portfolio-titulo h1 
{
    width: 100%;
    text-align: center;
    font-family: 'robotothin';
    color: #fff;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom:10px;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: normal;
}

.divisor 
{
    display: block;
    position: absolute;
    left: 50%;
    /*width: 100px;
    margin-left:-12px;
    height: 50px;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    bottom: -6px;
    z-index: 10;
    background: inherit;
    background-color:rgba(23, 21, 32, 0.9);*/
    width: 0;
    height: 0;
    border-left: 34px solid transparent;
    border-right: 34px solid transparent;
    border-top: 34px solid rgba(23, 21, 32, 1);
    bottom: -34px;
    z-index: 10;
    margin-left: -34px;
    /*box-shadow: -50px 50px 0 rgba(23, 21, 32, 0.9), 50px -50px 0 rgba(23, 21, 32, 0.9); /* Change The Hex Values */ */;
}
/*#endregion Sobre*/

/*#region Cadastro Usuário*/
#cadastro-vagas,
#cadastro-usuario,
#sobre, #contato
{
    background-color: #151515;
    padding: 20px 0px;
    text-align: left;
    max-width: 500px;
    margin: 40px auto;
    position: relative;
}

#sobre .titulo,
#contato .titulo
{
    font-family: 'robotothin';
    color: #A2CD5A;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: -1px;
    display: inline-block;    
}

#sobre .descricao,
#contato .descricao
{
    font-family: 'robotolight';
    font-size: 1em;
    line-height: 20px;    
    color: rgba(255, 255, 255, 0.44);
    width: 100%;
    float: left;
    margin-top: 20px;    
}

#sobre .descricao b,
#contato .descricao b
{
    color: #A2CD5A;
}

#contato .descricao a
{
    color: rgba(255, 255, 255, 0.44);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#contato .descricao a:hover
{
    color: #5F9EA0;  
}

#login-area
{
    background-color: #151515;
    padding: 20px 0px;
    text-align: left;
    max-width: 300px;
    position: relative;
    top:25vh;
    text-align:center;
}

#login-area .logo
{
    display: inline-block;    
}

.cadastro-usuario .titulo,
.cadastro-vagas .titulo,
.login-area .titulo
{
    font-family: 'robotothin';
    color: #A2CD5A;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: -1px;
    display: inline-block;    
}

.cadastro-usuario table,
.cadastro-usuario table tr,
.cadastro-vagas table,
.cadastro-vagas table tr,
.login-area table,
{
    width: 100%;
    float: left;    
}

.login-area table tr
{
    width: 100%;  
}

.cadastro-usuario table tr td,
.cadastro-vagas table tr td
{
    width: 46%;
    float: left;
}

.cadastro-vagas table tr:first-child td
{
    width: 100%;
}

.login-area table tr td
{
    width: 100%;
    float: left;
}

.cadastro-usuario table tr td:nth-child(2),
.cadastro-vagas table tr td:nth-child(2),
.login-area table tr td:nth-child(2)
{
    float: right;
}

.cadastro-usuario table,
.cadastro-vagas table,
.login-area table
{
    margin-top: 10px;
    width: 100%;
}

/*.cadastro-usuario .cadastro-box .texto
{
    font-family: 'robotolight';
    font-size: 0.92em;
    color: rgba(255, 255, 255, 0.84);
    line-height: 20px;
    text-align: left;
    float: left;
    display: unset;
    margin-top: 14px;
}*/

.cadastro-usuario .campo-area,
.cadastro-vagas .campo-area,
.login-area .campo-area 
{
    position: relative;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top:4px;
}

.cadastro-usuario .campo-area label,
.cadastro-vagas .campo-area label,
.login-area .campo-area label
{
    position: absolute;
    top: 8px;
    left:0;
    font-family: 'robotolight';
    font-size: 0.87em;
    color: #A2CD5A;
}

.cadastro-usuario .campo,
.cadastro-vagas .campo,
.login-area input.campo
{
    width: 100%  !important;
    height: 34px;
    padding-left: 0px;
    background-color: transparent !important;
    font-family: 'robotolight';
    color: #ffffff !important;
    font-size: 0.92em;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.44);
    margin-top: 0px;
    left: 0;
    position: absolute;
    bottom: 0;
    transition: 0.25s ease-in-out;    
}

/*.cadastro-usuario .campo:not(:focus),
.cadastro-vagas .campo:not(:focus),
.login-area .campo:not(:focus)
{
    border-bottom-color:rgba(255, 255, 255, 0.44) !important;
}*/

.cadastro-vagas select.campo:valid option,
.cadastro-vagas select.campo option
{
    color: #000000 !important;
}

.cadastro-vagas select.campo option.primeira
{
    color: rgba(255, 255, 255, 0.44) !important;
}

input:invalid + label,
textarea:invalid + label,
select:invalid + label  
{
    opacity: 0;
    transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

input:focus + label,
textarea:focus + label,
select:focus + label  
{
    color: #A2CD5A;
    opacity: 1;
    transition: opacity 0.25s ease-in-out, color 0.25s ease-in-out;
}

.cadastro-usuario .campo:focus,
.cadastro-usuario .campo:valid,
.cadastro-vagas .campo:focus,
.cadastro-vagas .campo:valid,
.login-area .campo:focus,
.login-area .campo:valid
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #A2CD5A;
}

.cadastro-usuario .campo:focus::-webkit-input-placeholder,
.cadastro-vagas .campo:focus::-webkit-input-placeholder,
.login-area .campo:focus::-webkit-input-placeholder
{
    color: transparent !important;
    transition: color 0.25s ease-in-out;
}

.cadastro-usuario .campo:focus:-moz-placeholder,
.cadastro-usuario .campo-msg:focus:-moz-placeholder,
.cadastro-vagas .campo:focus:-moz-placeholder,
.cadastro-vagas .campo-msg:focus:-moz-placeholder,
.login-area .campo:focus:-moz-placeholder,
.login-area .campo-msg:focus:-moz-placeholder  
{ /* Firefox 18- */
    color: transparent !important;
    transition: color 0.25s ease-in-out;
}

.cadastro-usuario .campo:focus::-moz-placeholder,
.cadastro-usuario .campo-msg:focus::-moz-placeholder,
.cadastro-vagas .campo:focus::-moz-placeholder,
.cadastro-vagas .campo-msg:focus::-moz-placeholder,
.login-area .campo:focus::-moz-placeholder,
.login-area .campo-msg:focus::-moz-placeholder 
{ /* Firefox 19+ */
    color: transparent !important;
    transition: color 0.25s ease-in-out;
}

.cadastro-usuario .campo:focus:-ms-input-placeholder,
.cadastro-usuario .campo-msg:focus:-ms-input-placeholder,
.cadastro-vagas .campo:focus:-ms-input-placeholder,
.cadastro-vagas .campo-msg:focus:-ms-input-placeholder,
.login-area .campo:focus:-ms-input-placeholder,
.login-area .campo-msg:focus:-ms-input-placeholder 
{
    color: transparent !important;
    transition: color 0.25s ease-in-out;
}

.cadastro-usuario .btn-cadastro,
.cadastro-vagas .btn-cadastro
{
    font-family: 'robotolight';    
    font-size: 0.92em;
    color: rgba(255, 255, 255, 0.84);
    background-color: rgba(162, 205, 90, 0.5);
    display: inline-block;
    margin-top: 20px;
    padding: 6px 20px;
    border-radius: 5px;
}

.login-area .btn-cadastro
{
    font-family: 'robotolight';    
    font-size: 0.92em;
    color: rgba(255, 255, 255, 0.84);
    background-color: rgba(162, 205, 90, 0.5);
    display: inline-block;
    margin-top: 20px;
    padding: 6px 20px;
    border-radius: 5px;
    width:100%; 
    cursor:pointer;   
}

.texto-cadastre
{
    font-family: 'robotolight';    
    font-size: 0.92em;
    color: rgba(255, 255, 255, 0.84);
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.texto-cadastre a
{
    color:#A2CD5A;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.texto-cadastre a:hover
{
    text-decoration: underline;
}

#lista-erros,
#lista-erros2
{
    font-family: 'robotolight';
    color: red;
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    font-size: 0.92em;    
    list-style: none;    
}

#lista-erros li,
#lista-erros2 li
{
    display: inline-block;
    margin-right: 8px;
    line-height: 20px
}

/*Div do mapa js*/
#mapDiv
{
    width: 100%;
    height: 400px;
    float: left;    
}
/*fim Div do mapa js*/
/*#endregion Cadastro Usuário*/

.gm-style .gm-style-iw 
{
    width: 340px !important;
    height: 200px !important;
    top:0px !important;
    left:0px !important;
    padding: 20px;
    overflow: hidden;
    background-color: #151515;
    color:rgba(255, 255, 255, 0.64);
    font-weight: normal !important;
    font-family: 'robotothin' !important;
    font-size: 1em !important; 
}

.gm-style 
{
    font:normal 1em 'robotolight' !important;    
}

 /*.gm-style > div > div > div > div
 {
    width: 300px !important;
    height: 200px !important;
 }*/

 /*.gm-style > div > div > div > div > div > div:last-child
 {
    background-color: #838B8B;
 }*/

.gm-style > div > div > div:last-child > div > div:first-child > div:nth-child(3) > div > div
{
    background-color: rgb(21, 21, 21) !important;
}

 .gm-style > div > div > div:last-child > div > div:first-child > div:nth-child(4)
 {
    background-color: rgb(21, 21, 21) !important;
 }

.gm-style .gm-style-iw p
{
    font-size: 1em !important;    
    padding: 10px 0px;
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
}

.gm-style .gm-style-iw p b
{
    color: #A2CD5A !important;
}

.gm-style .gm-style-iw p a
{
    color: #5F9EA0;
    text-decoration: none;
    transition: 0.2s ease-in-out
}

.gm-style .gm-style-iw p a:hover
{
    color: #5F9EA0;
    text-decoration: underline;
}

.gm-style h2
{
    font-family: 'robotothin' !important;
    color: #A2CD5A !important;
    font-weight: normal !important;
    font-size: 1.5em !important;
    text-transform: uppercase !important;    
}

.gm-style .data
{

}

.poi-info-window div, .poi-info-window a 
{
    color: #fff;
    font-family: Roboto,Arial;
    background-color: #151515;
}

.btn-whatsapp
{
    font-family: 'robotolight';
    font-size: 0.92em;
    color: rgba(255, 255, 255, 0.84);
    background-color: rgba(162, 205, 90, 0.5);
    display: inline-block;
    margin-top: 20px;
    padding: 6px 20px;
    border-radius: 5px;
    width: 49%;
    float: left;
    cursor: pointer;
    text-align:center;    
    background-image: url('../Imagens/Icones/whatsapp.svg');
    background-size:20px 20px; 
    background-position: left 10px center;  
    background-repeat: no-repeat;  
    transition: 0.2s linear;
}

.btn-email
{
    font-family: 'robotolight';
    font-size: 0.92em;
    color: rgba(255, 255, 255, 0.84);
    background-color: rgba(162, 205, 90, 0.5);
    display: inline-block;
    margin-top: 20px;
    padding: 6px 20px;
    border-radius: 5px;
    width: 49%;
    float: right;
    cursor: pointer;    
    text-align:center;   
    background-image: url('../Imagens/Icones/email.svg');
    background-size:20px 20px; 
    background-position: left 10px center;
    background-repeat: no-repeat;
}

a .btn-whatsapp,
a:hover .btn-whatsapp,
a .btn-email,
a:hover .btn-email
{
    color: rgba(255, 255, 255, 0.84);
    text-decoration: none;
    transition: 0.2s linear;
}

a:hover .btn-whatsapp,
a:hover .btn-email
{
    background-color: rgba(162, 205, 90, 0.3);
}

/*.gm-style > div > div > div > div > div
{
      width: 300px !important;
    height: 300px !important;  
}*/


@media(max-width:768px)
{
#myMap
{
    float:right; 
    width: 100%; 
    height: calc(100vh - 64px);
    margin:auto; 
    z-index: 2; 
    position: relative;
    top:64px;
}

#myMapList
{
    float: left; 
    text-align:left; 
    width: 100%; 
    /*margin-top: 64px;*/ 
    height:154px; 
    overflow-x:hidden; 
    overflow-y:scroll;     
    position: absolute;
    z-index: 3;
    bottom: 0; 
    background-color: #151515;
    font-family: 'robotolight';
    font-size: 0.87em;
    color: rgba(255, 255, 255, 0.44);    
}

.slimScrollDiv 
{
    position: absolute !important;
    z-index: 3;
    top:unset;
    bottom: -254px;
    float: left;
    transition: 0.2s ease-in-out;
}

.gm-style .gm-style-iw 
{
    width: 270px !important;
    height: 240px !important;
    top:0px !important;
    left:0px !important;
    padding: 20px;
    overflow: hidden;
    background-color: #151515;
    color:rgba(255, 255, 255, 0.64);
    font-weight: normal !important;
    font-family: 'robotothin' !important;
    font-size: 1em !important; 
}
.gm-style h2
{
    font-size: 1.2em !important;
}

.card-infos-user
{
    display: none;
}

.btn-whatsapp
{
    font-family: 'robotolight';
    font-size: 0.92em;
    color: transparent;
    background-color: rgba(162, 205, 90, 0.5);
    background-size:20px 20px; 
    background-position: center;  
}

.btn-email
{
    font-family: 'robotolight';
    font-size: 0.92em;
    color: transparent;
    background-color: rgba(162, 205, 90, 0.5);
    background-size:20px 20px; 
    background-position: center;  
}

a .btn-whatsapp,
a:hover .btn-whatsapp,
a .btn-email,
a:hover .btn-email
{
    color: transparent;
}
}